body {
    background-color: #fefefe;
}

/* Font e scritte */
@font-face { font-family: Domotika; src: url('fonts/Domotika.ttf'); }
@font-face { font-family: Domotika; font-weight: bold; src: url('fonts/Domotika-bold.ttf'); }

h1 {
    font-family: Domotika;
    font-size: 4vw !important;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 100px;
}

/* Stile immagini */
.logo {
    width:4%;
}

/* Stile tabella */
.tab {
    text-transform: uppercase;
    font-size: 25px;
    height: 75vh;
    overflow-y: scroll;
}
.fix {
    position: sticky;
    top: 0px;
}

/* Stile box */
.basso {
    height: 50px;
}
.alto {
    height: 200px;
}

/* Stile dei popup */
.block {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.popup {
    display: none;
    background-color: #fefefe;
    position:fixed;
    top: 97px;
    right: 100px;
    left: 100px;
    bottom: 105px;
}

.close {
    color: black;
    float: right;
    font-size: 35px;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
